{{extend 'layout.html'}}

<div class="create_question">

    <p class="prompt_text">What kind of question would you like to make?</p>

    <div class="multiple_choice">
        <a class="btn blue" href="{{=URL('default', 'multiple')}}">Multiple Choice</a>
    </div>

    <div class="elimination">
        <a class="btn blue" href="{{=URL('default', 'elimination')}}">Elimination - Multiple Choice</a>
    </div>

    <div class="ranked">
        <a class="btn blue" href="{{=URL('default', 'ranked')}}">Ranked Choice</a>
    </div>

</div>