{{extend 'layout.html'}}

<div class="background_color" style="background-color: #F8EBE3;height:600px;">

<div class="header_image" style="background-image: 
    url(https://www.desktopbackground.org/p/2015/02/08/899591_blackboard_3840x1080_h.jpg); height: 250px;">
</div>

<!-- <div class="header_image" style="background-image: 
      url(https://icc.edu/arts/files/icc-pac-rental-lecture-recital-hall.jpg); height: 300px;">
      </div> -->
<div class="create_question">
   
    <p class="title_text">What kind of question would you like to make?</p>
    <div class="multiple_choice">
        <div class="button_index">
            <a class="btn rounded" href="{{=URL('default', 'room')}}"> 
                Multiple Choice
            </a>
        </div>
            <!--
            These may not be implemented, but these buttons are here for when they are:
            <a class="btn rounded" href="">
                Elimination - Multiple Choice
            </a>
            <a class="btn rounded" href="">
                Ranked Choice
            </a>
            -->
    </div>

</div>
</div>