{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<!-- link to firebase -->
<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDwv7jJoMXuNEdksO0AKOq6n2XG-GMTfRU",
    authDomain: "lecture-poll.firebaseapp.com",
    databaseURL: "https://lecture-poll.firebaseio.com",
    projectId: "lecture-poll",
    storageBucket: "lecture-poll.appspot.com",
    messagingSenderId: "692265749478"
  };
  firebase.initializeApp(config);
</script>