{{extend 'layout.html'}}


<div class="main_content">
    <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
    
    <div class="buttons">
        <div class="image"
            style="background-image: 
                url(https://icc.edu/arts/files/icc-pac-rental-lecture-recital-hall.jpg); 
                height: 250px;">
            <p class="prompt_text" style="color:white; padding: 70px 0;">LecturePoll</p>
        </div>

       <div class="container padded" style="margin-top: 50px; margin-bottom: 20px;">
            <div class=" half button_index compressible">
                <a class="btn rounded" href="{{=URL('default', 'create')}}">Create Question</a>
            </div>

            <div class="half button_index compressible">
                <a class="btn rounded" href="{{=URL('default', 'join')}}">Answer Question</a>
            </div>
        </div>

        <div class="button_index">
            <a class="btn rounded" href="{{=URL('default', 'myPoll')}}" style="background-color: #4286f4;">Profile</a>
        </div>
        <!--
        <div class="button_error1">
            <a class="btn blue" href="{{=URL('default', 'error1')}}">Error Page1</a>
        </div>

        <div class="button_error2">
            <a class="btn blue" href="{{=URL('default', 'error2')}}">Error Page2</a>
        </div>
        -->

    </div>

</div>

