{{extend 'layout.html'}}

<div class="background_color" style="background-color: #F8EBE3;">

<div class="header_image" style="background-image: 
    url(https://www.desktopbackground.org/p/2015/02/08/899591_blackboard_3840x1080_h.jpg); height: 250px;">
</div>

<div class="enter_roomcode">

    <p class="title_text">Please enter the room code to proceed</p>
    <div class="join_room">
    	<div class="button_index">
    		<input id="joining" type="number"/>
	        <a id="to_room" class="btn rounded" style="vertical-align:middle;"> 
	            <span>Join Room</span>
	        </a>
    	</div>
    </div>

</div>

<script>
	console.log("Script working");
	$("#to_room").click(function() {
		console.log("clicked");
		var next_id = $("#joining").val();
		var foo = "./room?id=" + next_id;
		console.log(foo);
		window.location.replace(foo);
	});
</script>