{{extend 'layout.html'}}

<div class="background_color" style="background-color: #F8EBE3;">

<div class="header_image" style="background-image: 
    url(https://www.desktopbackground.org/p/2015/02/08/899591_blackboard_3840x1080_h.jpg); height: 250px;">
</div>

<div class="enter_roomcode">
   
    <p class="title_text">Please enter the room code to proceed</p>
    <div class="join_room">
    	<div class="button_index">
        <a class="btn rounded" href="question.html" style="vertical-align:middle;"> 
            <span>Join Room</span>
        </a>
    </div>
    </div>

</div>
</div>