{{extend 'layout.html'}}

<div class="header_image" style="background-image: 
    url(https://www.desktopbackground.org/p/2015/02/08/899591_blackboard_3840x1080_h.jpg); height: 250px;">
</div>

<div class="enter_roomcode">
   
    <p class="title_text">Please enter the room code to proceed</p>
    <div class="join_room">
        <a href="question.html">
            <button class="button" style="vertical-align:middle; width:250px; height:100px;"> 
                <span>Join Room</span>
            </button>
        </a>
    </div>


</div>