{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_question_url = "{{=URL('api', 'get_question')}}";
    var assign_user_to_all_cookie_saved_polls_api_url = "{{=URL('api', 'reassign_poll_creator')}}";
    var get_user_polls_api_url = "{{=URL('api', 'get_logged_in_user_polls')}}";
</script>
{{end}}

<div class="background_color" style="background-color: #F8EBE3; padding-bottom: 500px;">

{{if auth.user is not None:}}

<p class="title_text" style="text-align: center; padding-top: 2%;">My Polls</p>

<div id="visualization_div">
    <h2 id="chart_main_title"></h2>
    <div id="chart_container">
        <svg id="chart_main" style="padding-bottom:150;box-sizing: content-box"></svg>
        <!--box-sizing: content-box style is there because stupid.css wants to overwrite it with something else by default-->
    </div>
    <button class="btn togglebutton rounded" id="toggle_chart_viz" style="background-color: #a0522d; height: 50px; width:200px; font-size: 130%;">
        Hide/Show Chart
    </button>
</div>

<div class="enter_roomcode">
    <div id="vue-div">
<!--         <div v-for="(item, index) in poll_cjso_array">
            <div v-on:click="visualize_poll_data(item)">
                <p>${item.question}</p>
            </div>
        </div> -->
        <div v-for="(item, index) in poll_cjso_array">

            <div class="border_profile rounded" style="margin-left: 100px; margin-right: 50px;  border: 5px solid black; padding-bottom: 5px;">
                <div class="container padded">
                    <div class="threequarters polls compressible">

                        <div v-on:click="visualize_poll_data(item)">
                            <div class="question center" style="font-weight: bold; font-size: 75%;">${item.question}</div>
                        </div>

                    </div>
                    <div class="quarter button_list compressible" style="float:right;">

                        <div class="button_list" style="float:right;margin-right:80px;font-size: 30%;">
                            <p style="margin-top: 30px;">Response Count: ${item.metadata.response_count}</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    
{{else:}}
<p class="title_text" style="text-align: center; padding-top: 2%;">Please log in to see your polls.</p>
{{pass}}

<a class="btn rounded" href="{{=URL('default','index')}}" style="background-color: #a0522d; height: 50px; width:200px; font-size: 130%;">
    Back to Index
</a>
          
<!--
  <div  style="margin-left: 200px; margin-right: 200px;  border: 2px solid black;">
    <div class="container padded">
			<div class="half polls compressible">
				<div class="question center" style="font-weight: bold; font-size: 100%;margin-top:20px; margin-bottom: 5px;">${question}
				</div>
			</div>
			<div class="half button_list compressible" style="float:right;margin-top: 20px;">
				<div class="buttons" style="margin-left: 30%;" > 
					<div class = "btn rounded" style="padding: 10px;">
						<i class="fa fa-heart"></i>
					</div>	
					<div class="btn rounded" style="padding: 10px;">	
						<i class="fa fa-trash-o" ></i>
					</div>
				</div>
			</div>
  	</div>
	</div>	
	</div>
</div>
-->

<script src="{{=URL('static', 'js/d3.v5.js')}}"></script>
<script src="{{=URL('static', 'js/davidshimjs-qrcodejs-04f46c6/jquery.min.js')}}"></script>
<script src="{{=URL('static', 'js/chart_data_wrapper.js')}}"></script>
<script src="{{=URL('static', 'js/barchart.js')}}"></script>
<script src="{{=URL('static', 'js/default_question.js')}}"></script>
<link href="{{=URL('static', 'css/stupid.css')}}" rel="stylesheet"/>
<link href="{{=URL('static', 'css/room.css')}}" rel="stylesheet"/>
