{{extend 'layout.html'}}

<div class="question">

    <p class="prompt_text">Question:</p>

    <p class="question_text">question goes here</p>

    <div class="answer_a">
        <a class="btn blue" href="{{=URL('default', 'answer_a')}}">A</a>
    </div>

    <div class="answer_b">
        <a class="btn blue" href="{{=URL('default', 'answer_b')}}">B</a>
    </div>

    <div class="answer_c">
        <a class="btn blue" href="{{=URL('default', 'answer_c')}}">C</a>
    </div>

    <div class="answer_d">
        <a class="btn blue" href="{{=URL('default', 'answer_d')}}">D</a>
    </div>

    <div class="answer_e">
        <a class="btn blue" href="{{=URL('default', 'answer_e')}}">E</a>
    </div>

</div>