{{extend 'layout.html'}}

<script>
    var get_poll_choices_api_url = "{{=URL('api', 'get_choices')}}";
    var send_choice_api_url = "{{=URL('api', 'send_choice')}}";
    var undo_choice_api_url = "{{=URL('api', 'undo_choice')}}";
    
    var create_poll_admin_api_url = "{{=URL('api', 'create_poll')}}";
    var delete_poll_admin_api_url = "{{=URL('api', 'delete_poll')}}";
    var get_poll_admin_api_url = "{{=URL('api', 'get_poll')}}";
    var edit_poll_admin_api_url = "{{=URL('api', 'edit_poll')}}";
    var toggle_answer_accept_admin_api_url = "{{=URL('api', 'toggle_accepting_answers')}}";
    
</script>


<body>
    <div id="vue-div">
        <h3>Hello Vue!</h3>
        <div v-if="page=='poll_create'">
            <h3>Question</h3>
            <input type="text" v-model="poll_create_question">
            <h3>Choices</h3>
            <div class="choices" v-for="(item, index) in poll_create_choices">
                <div>
                    <p>Choice: ${item.text}</p>
                    <a class="btn rounded red small" v-on:click="create_remove_choice(index)">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </div>
            </div>
            <input type="text" v-model="choice_create_text">
            <button v-on:click="create_add_choice()">Create Choice</button>
            <button v-on:click="create_poll">Create Poll</button>
        
        </div>
        <div v-if="page=='poll_admin'">
            <p>Poll Admin Page</p>
            <button v-on:click="delete_poll()">Delete newly created poll? (temporary button)</button>
        </div>
    </div>
    
    
    
    <h2 id="chart_main_title"></h2>
    <div class="button_container">
        <button class="btn large togglebutton" id="toggle_chart_viz">Hide/Show Chart</button>
    </div>
    <div id="chart_container">
        <svg id="chart_main" style="padding-bottom:150;box-sizing: content-box"></svg>
        <!--box-sizing: content-box style is there because stupid.css wants to overwrite it with something else by default-->
    </div>
    <div id="room_QR" style="display:none"></div>
    <div class="button_container">
        <button class="btn large togglebutton" id="toggle_QR_viz">Hide/Show QR Code</button>
    </div>
    <div class="button_container">
        <button class="btn large" onclick="#">Close Poll</button>
    </div>
</body>

<!--These are for ease of testing with brackets.-->
<link href="{{=URL('static', 'css/stupid.css')}}" rel="stylesheet"/>
<link href="{{=URL('static', 'css/room.css')}}" rel="stylesheet"/>
<script src="https://d3js.org/d3.v5.js"></script>
<!--<script src="../../static/js/d3.v5.js"></script>-->
<script src="{{=URL('static', 'js/davidshimjs-qrcodejs-04f46c6/jquery.min.js')}}"></script>
<script src="{{=URL('static', 'js/davidshimjs-qrcodejs-04f46c6/qrcode.js')}}"></script>
<script src="{{=URL('static', 'js/chart_data_wrapper.js')}}"></script>
<script src="{{=URL('static', 'js/room.js')}}"></script>
