<!--
Web2py specific implementations.
{{extend 'layout.html'}}

<script src="{{=URL('static', 'js/room.js')}}"></script>
-->



<body>
    <h1>Hello HTML!</h1>
    <p class="testd3">Hello D3!</p>
    <div id="chart_test1"></div>
<!--    <svg id="chart_test2"></svg>-->
    <div class="chart_container">
        <svg id="chart_main"></svg>
    </div>
</body>

<!--These are for ease of testing with brackets.-->
<link href="../../static/css/room.css" rel="stylesheet"/>
<script src="https://d3js.org/d3.v5.js"></script>
<!--<script src="../../static/js/d3.v5.js"></script>-->
<script src="../../static/js/room.js"></script>
