{{extend 'layout.html'}}
<div class="background_color" style="background-color: #F8EBE3; ">

<script>
    var get_poll_choices_api_url = "{{=URL('api', 'get_choices')}}";
    var send_choice_api_url = "{{=URL('api', 'send_choice')}}";
    var undo_choice_api_url = "{{=URL('api', 'undo_choice')}}";
    
    var create_poll_admin_api_url = "{{=URL('api', 'create_poll')}}";
    var delete_poll_admin_api_url = "{{=URL('api', 'delete_poll')}}";
    var get_poll_admin_api_url = "{{=URL('api', 'get_poll')}}";
    var edit_poll_admin_api_url = "{{=URL('api', 'edit_poll')}}";
    var toggle_answer_accept_admin_api_url = "{{=URL('api', 'toggle_accepting_answers')}}";
    
    var get_public_results_api_url = "{{=URL('api', 'answerer_get_poll_results')}}";
    
    var assign_user_to_all_cookie_saved_polls_api_url = "{{=URL('api', 'reassign_poll_creator')}}";
    
    
</script>

<body>
    <div id="visualization_div" style="display:none">
        <h2 id="chart_main_title"></h2>
        <div class="button_container">
            <button class="btn togglebutton rounded" id="toggle_chart_viz" style="    background-color: #a0522d; height: 50px; width:200px; font-size: 130%;">Hide/Show Chart</button>
        </div>
        <div id="chart_container">
            <svg id="chart_main" style="padding-bottom:150;box-sizing: content-box"></svg>
            <!--box-sizing: content-box style is there because stupid.css wants to overwrite it with something else by default-->
        </div>
        <div id="enter_room_container" style="display:none">
            <a id="room_id_div">
                <div class="center">
                    <span>Room ID: </span><span id="room_id_number"></span>
                </div>
            </a>
            <div id="room_QR"></div>
        </div>
        <div class="button_container">
        <button class="btn togglebutton rounded" id="toggle_QR_viz" style="background-color: #a0522d; height: 50px; width:200px; font-size: 110%;">Hide/Show QR Code</button>
        </div>

    </div>
    <div id="vue-div">
        <div v-if="page=='poll_create'">
            <div class="question_page center">
                <h3 style="margin-top: 50px;">Question</h3>
                <div class="question_bar half" style="margin-left: 470px;">
                    <span class="input">
                        <input type="text" v-model="poll_question">
                    </span>
                </div>
                <h3 style="margin-top: 70px;">Choices</h3>
                <div class="choices" v-for="(item, index) in poll_create_choices">
                    <div class="question_page center">
                        <h6>${index+1}. ${item.text} 
                            <a class="btn rounded black small" v-on:click="create_remove_choice(index)">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </h6>
                    </div>
                </div>
                <div class="question_bar half" style="margin-left: 470px; margin-bottom: 50px;" >
                    <span class="input">
                        <input type="text" v-model="choice_create_text">
                    </span>
                </div>
                <a class="btn rounded" v-on:click="create_add_choice()" style="background-color: #a0522d; height:35px; width:100px;">Add Choice</a>

            </div>
            <div class="dcsfdf center" style="margin-top: 30px;">
                <a class="btn rounded" v-on:click="create_poll" style="background-color: #a0522d; height:35px; width:100px;">Create Poll</a>
            </div>
        </div>

        <div v-if="page=='poll_admin'">
            <div class="question_page center">
            <div class="button_container center">
                <button class="btn rounded" v-on:click="close_poll()" style="background-color: #a0522d; height: 50px; width:200px; font-size: 110%;">Close Poll</button>
            </div>
            <p>Poll Admin Page</p>
            <button v-on:click="delete_poll()">Delete newly created poll? (temporary button)</button>
            <!--<p>Not required unless to test poll closure</p>            
            <button v-on:click="poll_toggle_open_status()">Toggle Poll Open Status (Default Closed)</button>
            --> 
            </div>
        </div>



        <div v-if="page=='poll_answer'">
            <div class="question_page center">
                <div class="question">
                    <p class="title_text" style="font-weight: normal; font-size: 200%; margin-bottom: 50px;">${poll_question}</p>
                    <div>
                        <div v-for="choice in poll_answer_choices">
                            <div class="btnn center" v-on:click="poll_send_choice(choice)" style="width: 200px; margin-bottom: 20px;">
                                <span>${choice.text}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="page=='poll_answer_confirmed'">
            <div class="question_page center">
            <div class="question">
                <p class="title_text" style="font-weight: normal; font-size: 200%; margin-bottom: 20px;">${poll_question}</p>
                <div>
                    <p class="title_text" style="font-weight: normal; font-size: 200%; margin-bottom: 20px;">You chose option: ${chosen_poll_choice.text}</p>
                    <div class="btnn center" v-on:click="poll_undo_choice(chosen_poll_choice)" style="width: 200px; margin-bottom: 20px;">
                            <span>Undo Choice</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>
</div>

<!--These are for ease of testing with brackets.-->
<link href="{{=URL('static', 'css/stupid.css')}}" rel="stylesheet"/>
<link href="{{=URL('static', 'css/room.css')}}" rel="stylesheet"/>
<script src="https://d3js.org/d3.v5.js"></script>
<!--<script src="../../static/js/d3.v5.js"></script>-->
<script src="{{=URL('static', 'js/davidshimjs-qrcodejs-04f46c6/jquery.min.js')}}"></script>
<script src="{{=URL('static', 'js/davidshimjs-qrcodejs-04f46c6/qrcode.js')}}"></script>
<script src="{{=URL('static', 'js/chart_data_wrapper.js')}}"></script>
<script src="{{=URL('static', 'js/room.js')}}"></script>
