/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* index */

div.buttons {
    text-align: center;
}

div.button_index .btn{
    font-size: 30px;
    background-color: #a0522d; 
    color: white;
}

div.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $secondary;
  color: $white;
}

/* join.html */

div.enter_roomcode {
    padding: 20px;
}

div.join_room {
    padding: 5px;
    text-align: center;
}

/* question.html */

div.question {
    padding: 20px;
    text-align: center;
}

p.question_text {
    padding-bottom: 5px;
    font-size: 250%;
    text-align: center;
}

/* create.html */

div.create_question {
    padding: 20px;
    text-align: center;
    display:block;
}

div.multiple_choice {
    padding: 5px;
    display: block;
}

div.elimination {
    padding: 5px;
}

div.ranked {
    padding: 5px;
}
div.header_image{
    opacity: 0.5;
    filter: alpha(opacity=100);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: navy;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height:150px;
  margin-top: 3s0px;
  background-color: #4C8961; 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*multiple.html*/

/* multiple files */

p.prompt_text {
    font-size: 300%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}

p.title_text {
    font-size: 250%;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.btn {
    font-size: 24px;
}

.input {
  position:relative;
  font-size: 3em;
  background: linear-gradient(21deg, #4C8961, brown);
  padding: 5px;
  display: inline-block;
  border-radius: 9999em;
  size: 300%;
}

#top, #bottom, #left, #right {
  position: fixed;
}

 #left, #right {
    top: 0; bottom: 0;
    width: 500px;
}

#left { left: 0; }

#right { right: 0; }

div.btnn span {
  background: #FFF;
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #000;
}

div.btnn:hover {
  box-shadow: 0 2px 0 #000, 0 2px 0px 2px black;
}

div.btnn:active {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 1px 0 #000;
}

div.btnn {
  position: relative;
  font: normal 22px/25px "Patrick Hand", sans-serif;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 0 #000;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
  background-image: url('data:image/gif;base64,R0lGODlhBAAEAIABAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgV2luZG93cyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5NUY1OENCRDdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5NUY1OENCRTdDMDYxMUUyOTEzMEE1MEM5QzM0NDVBMyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk1RjU4Q0JCN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk1RjU4Q0JDN0MwNjExRTI5MTMwQTUwQzlDMzQ0NUEzIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAQAAAQAsAAAAAAQABAAAAgYEEpdoeQUAOw==');
}