h1{
    color: rebeccapurple;
}

#chart_container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
}

#chart_main {
    display: flex;
}

.question center{
    font-size: 2vw;
}

.button_list {
    font-size: 2vw;
}