
h1{
    color: rebeccapurple;
}

#chart_container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
}

#chart_main {
    display: flex;
    padding-left: 4%;
}

#chart_main_title {
    text-align: center;
    padding-top: 20px;
}

.chart_onbar_value {
    font-size: 300%;
    text-align: center;
}

.chart_x-axis_labels {
    font-size: 150%;
}

#room_QR {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*https://www.w3.org/Style/Examples/007/center.en.html*/
.btn {
/*    display: block;*/
    margin: auto;
}



.label_input_div{
    padding-top: 20px;
    align-content: center;
}
.label_input_div h3{
    text-align: center;
}
.label_input_div input{
    margin: 20px 0px 20px !important;
}

main{
    padding-bottom: 50px;
    background-color: #F8EBE3 !important;
}

.button_container{
    margin: 0 auto;
    padding: 4px;
}

.togglebutton{
    display: block;
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

#enter_room_container {
    padding-top: 15px;
}
