
h1{
    color: rebeccapurple;
}

.chart_container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
}

#chart_main {
    display: flex;
}

#chart_main_title {
    text-align: center;
}

.chart_onbar_value {
    font-size: 300%;
    text-align: center;
}

.chart_x-axis_labels {
    font-size: 150%;
}

#room_QR {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-content: center;
    padding-top: 2%;
}